form {
    border: 1px solid black;
    padding: 20px;
    margin-right: 800px;
}

.services-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}


