.chatbox-container{
    display:flex;
}

.table-container{
    flex: 1;
    margin-right: 20px;
}


.chatbox {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.messages {
    height: 200px;
    overflow-y: scroll;
}

.message {
    background-color: #f2f2f2;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.input-container {
    display: flex;
    margin-top: 10px;
}

    .input-container input {
        flex-grow: 1;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        margin-right: 5px;
    }

    .input-container button {
        background-color: #FA9884;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        cursor: pointer;
    }
.input-container button:hover {
    background-color: #fc7458;
}
