.button-class:hover {
    background-color: #fc7458;
}
.button-class{
    background-color: #FA9884;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}